#some docker stuff I guess
docker/docker
.*.swp
bin
.DS_Store

#react
/.pnp
.pnp.js
/app/build
node_modules
packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist
build/

#node
package-lock.json
logs
*.log
*.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.tsbuildinfo
.npm
.env
.env.development.local
.env.test.local
.env.production.local
.env.local


