/* .Footer {
    background-color: #004953;
    width: 100%;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    align-self: flex-end;
}

.Footer p {
    display: inline;
}

.Footer a {
    position: relative;
}

*/
.Footer-logo {
    padding: 5px 10px 5px 10px;
    width: 35px;
    height: 35px;
}
